{% extends 'base.html' %}
{% block mainblock %}
{% load staticfiles %}

<style>
    .tbl{
    height:40em;
       background: steelblue;
    float: left;
    font-family: Aldrich;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 164px;
    left: 31%;
    height: 430px;
    width: 400px;
    border-radius: 10px;
    overflow: auto;
    }
    .tbl table{
        border-spacing:4px;
        text-align:center;
    }
    .tbl table tr th{
    background:black;
    color:white;
    padding:10px;
    border-radius: 7px;
    }
    .tbl table tr td{
    padding:10px;
    }
    .any{
    height: 400px;
    width: 300px;
    border-style: solid;
    border-color: black;
    float: left;
    margin-left: 999px;
    margin-top: 73px;
     background: url("{% static 'ssss.png' %}");
    backgroun-size: cover;

    border-radius: 10px;
    }
</style>

<div class="tbl">
    <table>
        <tr>
            <th>Title</th>
            <th>Document</th>
            <th>Delete</th>
        </tr>
        {% for doc in doc_obj %}
        <tr>
            <td style="color:white">{{doc.title}}</td>
            <td style="color:white">{{doc.document}}</td>
            <td><a href="{% url 'remove' doc.id %}" style="color:black;text-decoration:none">Remove File</a></td>
        {% endfor %}
        </tr>
    </table>

</div>
<div class="any"></div>
{% endblock %}